html 
  head 
    title= "List of all shopping items" 
  body 
    h2 Here is the item you want to change: 
    form(action=`/showDetail/${anItem._id}`, method='post')
        table(style='width:100%', border='1')
            tr 
                th _id
                th Item Name 
                th Amount 
                th Price 
                th Notes
            tr 
                    td #{anItem._id}
                    td #{anItem.itemName}
                    td #{anItem.amount} 
                    td #{anItem.price}
                    td #{anItem.notes}